<div class="background">

  <div class="widget">
    <mat-form-field class="widget__input">
      <input matInput autocomplete="off" [value]="inputString" (input)="inputChange($event)">
    </mat-form-field>

    <div class="widget__buttons-area">

      <div class="widget__buttons-row">
        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
        >2nd</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
        >deg</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('sin(')()"
        >sin</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('cos(')()"
        >cos</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('tan')()"
        >tan</button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('^')()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-superscript"></mat-icon>
        </button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('lg(')()"
        >lg</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('ln(')()"
        >ln</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('(')()"
        >(</button>

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar(')')()"
        >)</button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('sqrt(')"
        >
          <mat-icon fontSet="fa" fontIcon="fa-square-root-alt"></mat-icon>
        </button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="clearInput()"
        >C</button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="backspace()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-backspace"></mat-icon>
        </button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="percentage()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-percentage"></mat-icon>
        </button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="addChar('/')()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-divide"></mat-icon>
        </button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('!')()"
        >x!</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('7')()"
        >7</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('8')()"
        >8</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('9')()"
        >9</button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="addChar('*')()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
        </button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          [hidden]="!showAllButtons"
          (click)="addChar('^(-1)')()"
        >1/x</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('4')()"
        >4</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('5')()"
        >5</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('6')()"
        >6</button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="addChar('-')()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
        </button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          (click)="addChar('pi')()"
          [hidden]="!showAllButtons"
        >
          π
        </button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('1')()"
        >1</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('2')()"
        >2</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('3')()"
        >3</button>

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="addChar('+')()"
        >
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
        </button>

      </div>

      <div class="widget__buttons-row">

        <button
          mat-button
          class="widget__button"
          color="warn"
          (click)="toggleButtons()"
        >!</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          [hidden]="!showAllButtons"
          (click)="addChar('e')()"
        >e</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('0')()"
        >0</button>

        <button
          mat-button
          class="widget__button"
          color="primary"
          (click)="addChar('.')()"
        >.</button>

        <button
          mat-button
          class="widget__button"
          color="warn"
        >
          <mat-icon fontSet="fa" fontIcon="fa-equals"></mat-icon>
        </button>

      </div>

    </div>

  </div>

</div>
