<div class="background">

  <div class="widget">
    <mat-form-field class="widget__input">
      <input matInput autocomplete="off">
    </mat-form-field>

    <div class="widget__buttons-area">

      <button mat-button class="widget__button">2nd</button>
      <button mat-button class="widget__button">deg</button>
      <button mat-button class="widget__button">sin</button>
      <button mat-button class="widget__button">cos</button>
      <button mat-button class="widget__button">tan</button>

      <button mat-button class="widget__button">
        <mat-icon fontSet="fa" fontIcon="fa-superscript"></mat-icon>
      </button>
      <button mat-button class="widget__button">lg</button>
      <button mat-button class="widget__button">ln</button>
      <button mat-button class="widget__button">(</button>
      <button mat-button class="widget__button">)</button>

      <button mat-button class="widget__button">
        <mat-icon fontSet="fa" fontIcon="fa-square-root-alt"></mat-icon>
      </button>
      <button mat-button class="widget__button" color="warn">C</button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-backspace"></mat-icon>
      </button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-percentage"></mat-icon>
      </button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-divide"></mat-icon>
      </button>

      <button mat-button class="widget__button">x!</button>
      <button mat-button class="widget__button" color="primary">7</button>
      <button mat-button class="widget__button" color="primary">8</button>
      <button mat-button class="widget__button" color="primary">9</button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
      </button>

      <button mat-button class="widget__button">1/x</button>
      <button mat-button class="widget__button" color="primary">4</button>
      <button mat-button class="widget__button" color="primary">5</button>
      <button mat-button class="widget__button" color="primary">6</button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      </button>

      <button mat-button class="widget__button">!</button>
      <button mat-button class="widget__button" color="primary">1</button>
      <button mat-button class="widget__button" color="primary">2</button>
      <button mat-button class="widget__button" color="primary">3</button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>

      <button mat-button class="widget__button" color="warn">!</button>
      <button mat-button class="widget__button" color="primary">e</button>
      <button mat-button class="widget__button" color="primary">0</button>
      <button mat-button class="widget__button" color="primary">.</button>
      <button mat-button class="widget__button" color="warn">
        <mat-icon fontSet="fa" fontIcon="fa-equals"></mat-icon>
      </button>

    </div>

  </div>

</div>
